<script>

data = {
	"id":3,
	"name":"khusi",
	"marks":444
}
function postData(data) {
	fetch("http://127.0.0.1:5000/students", {
		method: "POST",
		headers: {
		  'Accept': 'application/json',
		  'Content-Type': 'application/json'
		},
		body: JSON.stringify(data)
	})
	.then((response) => response.json())
	.then((data) => { console.table(data); })
}

postData(data);
</script>














<!-- <script>

let url = "http://localhost:5000/students";
fetch(url)
.then(response => response.json())
.then(response => {
    // console.table(response)
loadData(response);

});


function loadData(records = []) {
	var table_data = "";

    for (i=0; i<records.length; i++) 
{
      table_data += `<tr>`; 
            table_data += `<td>${records[i][0]}</td>`;
		table_data += `<td>${records[i][1]}</td>`;
		table_data += `<td>${records[i][2]}</td>`;
		table_data += `<td>`;
		table_data += `<a href="edit.html?id=${records[i][0]}"><button class="btn btn-primary">Edit</button></a>`;
		table_data += '&nbsp;&nbsp;';
		table_data += `<button class="btn btn-danger" onclick=deleteData('${records[i][0]}')>Delete</button>`;
		table_data += `</td>`;
        table_data += `</tr>`;
		 
        
	 
}
document.getElementById("tbody").innerHTML = table_data;
}
   -->


<!-- // delete data 
function deleteData(id) {
	user_input = confirm("Are you sure you want to delete this record?");
	if(user_input) {
		fetch(url, {
			method: "DELETE",
			headers: {
			  'Accept': 'application/json',
			  'Content-Type': 'application/json'
			},
			body: JSON.stringify({"id": id})
		})
		.then((response) => response.json())
		.then((data) => { 
			console.log(data); 
			window.location.reload();
		})
	}
}
*/
// function deleteData(id) {
// 	user_input = confirm("Are you sure you want to delete this record?");
// 	if(user_input) {
// 		fetch(`${api_url}?id=${id}`, {
// 			method: "DELETE",
// 			headers: {
// 			  'Accept': 'application/array',
// 			  'Content-Type': 'application/array'
// 			},
// 			body: JSON.stringify({[0] : id})
// 		})
// 		.then((response) => response.json())
// 		.then((data) => {
// 			console.log(data); 
// 			window.location.href = "index.html";
// 		})
// 	}
//  		window.location.href = "index.html";	
// } -->


<!-- // <center>
//     <h2>Students records</h2>
// <table border="1">
//     <thead>
//         <tr>
//             <th>id</th>
//             <th>name</th>
//             <th>marks</th>
//             <th>Action</th>
//         </tr>

//     </thead>
//     <tbody id="tbody">
        
//     </tbody>
// </table>
// </center> -->